<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
            
	<bean id="countryService" class="me.sumithpuri.github.mizoram.spring.remoting.service.CountryServiceImpl"/>
	
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
	    <!-- does not necessarily have to be the same name as the bean to be exported -->
	    <property name="serviceName" value="countryService"/>
	    <property name="service" ref="countryService"/>
	    <property name="serviceInterface" value="me.sumithpuri.github.mizoram.spring.remoting.service.CountryService"/>	    
	    <property name="registryPort" value="1099"/> <!-- defaults to 1099 -->
    </bean>
</beans>